/* CSS Document */

body {
	text-align: center;
	vertical-align: middle;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	background-color: black;
	color: white;
	font-size: 5vw;
	border: 1vw solid red;
}

#e1 {
	font-size: 3vw;
	height: 5vw;
}

#e2 {
	font-size: 2vw;
}
