/* CSS Document */

body {
	text-align: center;
	vertical-align: middle;
	valign: middle;
	background-color: gray;
	color: white;
	font-size: 3rem;
}

#code {
	font-size: 3rem;
	width: 20rem;
	height: 5rem;
}

#sub {
	font-size: 2rem;
}

#heart {
	font-size: 1.5rem;
	border: 10px solid darkgray;
	background-color: lightblue;
	color: indigo;
	text-align: left;
}