/* CSS Document */

body {
	text-align: center;
	vertical-align: middle;
	background-color: #444444;
	color: white;
	font-size: 50px;
}

textarea {
	font-size: 15px;
}

#box {
	font-size: 50px;
	width: 350px;
	height: 75px;
	text-align: center;
}

#sub {
	width: 200px;
	height: 100px;
	font-size: 30px;
}